
.grid-image:hover + #delete-image {
    opacity: 1;
}

#delete-image {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    opacity: 0;
}

#delete-image:hover {
    opacity: 1;
}

#delete-image:hover ~ .grid-image {
    opacity: 0.7;
    cursor: zoom-in;
    transform: scale(1.03);
}

#delete-image > i {
    color: var(--terra-cotta);
}

#delete-image > i:hover {
    transform: scale(1.1);
}

.album-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    min-height: fit-content;
    grid-area: content;
}

div.album-images-container {
    column-count: 4;
    column-gap: 10px;
    margin: auto;
    background-color: transparent;
    padding: 50px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
  }

.image-container {
    margin: 0;
    display: grid;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;
}

.image-container > img {
    grid-row: 1 / -1;
    grid-column: 1;
}

.grid-image {
    max-width: 100%;
    display: block;
    border-radius: 7px;
    min-width: 180px;
}

.grid-image:hover {
    opacity: 0.7;
    cursor: zoom-in;
    transform: scale(1.03);
}
