.chat-room-container {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.profile-pic-div.chat-profile-pic {
    width: 50px;
    height: 50px;
    background-color: var(--rhythm);
}

.right {
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
    align-items: center;
}

.left {
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.center {
    align-self: center;
}
