/* .chat-and-input-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 100px;
    height: calc(100vh - 100px);
    padding: 50px;
    margin-bottom: 200px;
} */

/* .chat-room-container {

    bottom: 10vh;
    width: 80%;
    display: flex;
    max-height: calc(100vh - 220px);
    height: calc(100vh - 220px);
    flex-direction: column;

    overflow-y: scroll;
    border: 1px solid var(--raisin-black);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(94, 94, 94);
    padding: 25px;
    background-color: var(--chat-container);
} */

.chat-room-container {
    max-height: 100vh;
    /* border: 1px solid blue; */
    height: 100%;

    display: grid;
    grid-template-rows: 111px auto 100px;
    /* overflow-y: scroll; */
}

.chat-header-container {
    width: 100%;
    height: 111px;
    padding: 30px;
    border-bottom: 1px solid var(--side-panel-text);
    display: flex;
    align-items: center;
}

.chat-messages-container {
    /* max-height: calc(100vh - 200px); */
    overflow-y: scroll;
    /* border-top: 1px solid var(--side-panel-text); */
    padding: 20px 0;
}

.chat-input-form {
    height: 100%;
    padding: 15px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.chat-input-form > input {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    border: 0.5px solid var(--chat-box-placeholder);
    padding: 0 15px;
    background-color: var(--chat-box-container);
    color: white;
}

.chat-input-form > input:placeholder {
    color: var(--chat-box-placeholder);
}

.chat-input-form > input:focus {
    border: 0.5px solid white;
}

.chat-input-form > button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.profile-pic-div.chat-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: aliceblue;

}

.right {
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
    align-items: center;
}

.left {
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.center > div > p {
    align-self: center;
    font-style: italic;
}

.chat-msg:hover {
    background-color: var(--chat-box-hover);
}

/* .chat-input-form {
    width: 81%;
    display: flex;
    padding: 20px 0;
    bottom: 5%;
}

.chat-input-form > input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.chat-input-form > button {
    right: 0;
} */

.chat-msg {
    padding: 10px;
}

.chat-msg.left > .chat-message {
    padding-left: 20px;
}

.chat-msg.left > .chat-profile-pic {
    margin-left: 40px;
}

.chat-msg.right > .chat-message {
    padding-right: 20px;
}

.chat-msg.right > .chat-profile-pic {
    margin-right: 40px;
}

.chat-message {
    display: flex;
    flex-direction: column;
}

.right > .chat-message {
    align-items: flex-end;
}

.left > .chat-message {
    align-items: flex-start;
}

.chat-username {
    /* font-style: italic; */
    font-weight: bold;
}

.chat-text {
    font-size: 15px;
}

.created-at-msg {
    font-weight: normal;
    font-size: small;
    font-style: italic;
    color: var(--side-panel-text);
}

.right > .chat-message > p {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.left > .chat-message > p > span {
    padding-left: 10px;
}

.right > .chat-message > p > span {
    padding-right: 10px;
}

button#send-chat {
    background-color: var(--send-message);
}
