.note-detail-container {
    width: 100%;
    min-height: fit-content;
    height: 100%;

    border-right: 1px solid var(--side-panel-text);
    border-bottom: 1px solid var(--side-panel-text);
}

.edit-container {
    display: flex;
    /* width: 75vw; */
    align-items: center;
    width: 100%;
    position: relative;

    height: 100%;

    background-color: var(--main-container);


}

.edit-container > input,
.note-detail-container > textarea {
    resize: none;
    background-color: var(--main-container);
    color: var(--header-text);

    border: none;
}

.edit-container > input {
    width: 100%;
    height: 111px;
    font-size: 50px;
    padding: 50px;
    border-bottom: 1px solid var(--side-panel-text);
}

.note-detail-container > textarea {
    width: 100%;
    height: 100%;
    padding: 55px 55px;
    font-size: 18px;
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--main-container);
    color: var(--main-container-text);
}

#save-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 30px;
    border-radius: 5px;
    padding: 0 20px;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: var(--side-panel-text);
}

#save-btn:hover {
    transform: scale(1.1);
    color: white;
}

#save-btn > i {
    transition: all 0.2s ease-in-out;
}

#save-btn:hover > i {
    color: white;
}

.fa-pencil-alt {
    color: var(--side-panel-text);
    font-size: 20px;
}

.edit-delete-btn-container {
    font-size: 20px;
    position: absolute;
    right: 5%;
}

#delete-note > i {
    color: var(--side-panel-text);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#delete-note > i:hover {
    transform: scale(1.1);
    color: var(--terra-cotta);
}
