.study-group-dash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: content;
    width: 100%;
    height: 100%;
}

.study-group-title-container {
    grid-area: header;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--side-panel-text);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.study-group-title {
    padding: 0 50px;
}

.study-group-title > h2 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    cursor: default;

    color: var(--header-text);
}

.study-group-title-btn-container {
    display: flex;
}

.sg-edit-del-btn-container {
    display: flex;
    position: absolute;
    top: 10px;
    right: 15px;
}

#edit-group > i,
#delete-group > i {
    color: var(--header-text);
}

#add-user-to-group,
#leave-group,
#group-notifications {
    font-size: 30px;
}

#add-user-to-group,
#group-notifications {
    padding-right: 50px;
}

#add-user-to-group > i,
#leave-group > i,
#group-notifications > i {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: var(--header-text);
}

#add-user-to-group > i:hover,
#leave-group > i:hover,
#group-notifications > i:hover {
    transform: scale(1.2);
}

#leave-group > i:hover {
    color: var(--terra-cotta);
}

#add-user-to-group > i:hover {
    color: var(--side-panel-selected);

}

.sg-main-container {
    height: 100%;
    padding: 30px;
    width: 100%;

    display: grid;
    grid-template-columns: 40% 60%;

    overflow-y: scroll;
}

.sg-info-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sg-img-container {
    width: 80%;
}

.sg-img-container > img {
    width: 100%;

    border-radius: 20px;
}

.sg-members-container {
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 35px 50px;
    flex-wrap: wrap;
}

.sg-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    height: fit-content;
    width: 140px;

    position: relative;
    transition: all 0.2s ease-in-out;
}

.sg-member:hover .sg-member-profile-pic {
    opacity: 0.8;
}

.sg-member:hover #rm-from-group {
    opacity: 1;
}

#rm-from-group {
    position: absolute;
    top: -5px;
    right: 12px;
    opacity: 0;

    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#rm-from-group > i {
    color: var(--terra-cotta);
}

.sg-member-name {
    padding: 10px;
}

.sg-descrip-container {
    /* border: 1px solid red; */
    width: 75%;
    text-align: justify;
    font-style: italic;
}

.pic-and-status-container {
    position: relative;
}

.status-circle.online {
    border-radius: 50%;
    background-color: white;
    border: 3px solid var(--side-panel);
    width: 20px;
    height: 20px;
    position: absolute;
    right: -5px;
    bottom: -5px;
}

.status-circle.offline {
    border-radius: 50%;
    background-color: var(--main-container);
    border: 3px solid var(--side-panel);
    width: 20px;
    height: 20px;
    position: absolute;
    right: -5px;
    bottom: -5px;
}

.status-circle.offline > .inner-circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 3px solid grey;
    position: absolute;
    background-color: var(--main-container);

}

.fa-crown {
    padding-right: 5px;
    color: gold;
}
