.group-form-container {
    width: 835px;
    height: 500px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}

.group-form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.gf-modal-head {
	padding-left: 25px;
	padding-bottom: 10px;
	font-size: 25px;
	align-self: flex-start;
    margin-bottom: 40px;
}

.form-element-container {
    padding-bottom: 20px;
}

.form-element-container > input {
    width: 100%;
	height: 40px;
	font-size: 20px;
	outline: none;
	border-radius: 10px;
	padding: 10px;
	border: none;
	color: var(--side-panel);

    border: 1px solid var(--side-panel-text);
}

.form-element-container > input:focus {
    outline: none;
}

.form-element-container > input:focus::placeholder {
    color: var(--side-panel-text);
}

button#create-group {
    padding: 10px 40px;
    font-size: 20px;
    width: 240px;
    border-radius: 10px;
    background-color: var(--side-panel-selected);
    color: white;
    margin-top: 10px;
}

button#create-group:hover,
button.cancel-btn:hover,
button#create-event-submit:hover {
    transform: scale(1.1);
}

button.cancel-btn {
    padding: 10px 40px;
    font-size: 20px;
    width: 240px;
    border-radius: 10px;
    background-color: var(--terra-cotta);
    color: white;
    margin-top: 10px;
}

.gf-add-image-container > input[type="file"] {
    display: none;
}

.gf-add-image-container > label {
    color: var(--main-container);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0 7px 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gf-add-image-container > label:hover {
    background-color: rgba(0, 0, 0, 0.363);
}

.gf-add-image-container > label:hover i {
    transform: scale(1.2);
    color: white;
}

.gf-add-image-container > label > i {
    font-size: 50px;
    color: var(--side-panel-text);
    cursor: pointer;
}

.gf-add-image-container {
    height: 100%;
    position: relative;
    border-radius: 0 7px 7px 0;
}

.preview-image.group,
.preview-container.group {
    border-radius: 0 7px 7px 0;
    width: 100%;
    height: 100%;
	object-fit: cover;
    background-color: rgba(128, 128, 128, 0.363);
}
