.no-events-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
    padding-top: 10%;
}

p#second-line {
    font-size: 20px;
    padding-top: 20px;
}
