.dashboard-container {
    background-color: var(--base-color);
    width: 100%;
    height: 100%;
    min-height: fit-content;

    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas: 'side main';
}

.side-nav-container {
    grid-area: side;
    height: 100vh;
    background-color: var(--side-panel);
    position: fixed;
    width: 300px;
    border-right: 1px solid var(--side-panel-text);

    display: grid;
    grid-template-rows: 111px auto;

    padding-bottom: 106px;
}

.main-container {
    height: 100%;
    grid-area: main;

    display: grid;
    grid-template-rows: 111px auto;
    grid-template-columns: 100%;
    grid-template-areas: 'header'
    'content';
}

.dashboard-nav-links {
    justify-content: space-between;
}

.user-pic-name-container {
    padding: 15px 0;
    background-color: var(--top-highlight);
    border-bottom: 1px solid var(--side-panel-text);
    margin-bottom: 20px;
}

.side-panel-nav-links {
    overflow-y: scroll;
    display: block;
    visibility: visible;
}

.user-pic-name-container > ul > li {
    width: 100%;
    justify-content: flex-start;
}

.profile-pic-div.user-profile-nav {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: aliceblue;
    border-radius: 20%;
    margin-left: 30px;
}

.user-profile-nav > .profile-pic-div {
    width: 50px;
    height: 50px;
}

.study-groups-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
}

.study-groups-container > ul {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.study-groups-container > ul {
    display: flex;
    flex-wrap: wrap;
}


.study-groups-container > ul > li {
    width: 600px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.menu-btn {
    visibility: hidden;
}


@media only screen and (max-width: 912px) {
    .dashboard-container {
        display: grid;
        grid-template-rows: 91px auto;
        grid-template-columns: 100%;
        grid-template-areas: 'menu'
        'main';
    }

    .side-nav-container {
        grid-area: menu;
        position: relative;
        height: 100%;
        padding: 0;
        display:flex;
        flex-direction: column;
        width: 100%;
        border: 0;
    }

    .main-container {
        grid-area: main;
        grid-template-rows: 62px auto;
        display: grid;
        grid-template-areas: 'header'
        'content';
    }

    .all-groups-container {
        grid-area: content;
        position: absolute;
        top: 120px;
        left: 0;
    }

    .group-container {
        padding: 10px;
        height: fit-content;
    }

    .group-title {
        min-width: fit-content;
    }

    .developer {
        visibility: hidden;
    }

    div#edit-user {
        right: 50px;
    }


    #logout {
        margin-left: 10px;
    }

    .menu-btn {
        visibility: visible;
        margin-left: 30px;
        position: relative;
    }

    .side-panel-nav-links {
        visibility: hidden;
        display: none;
        z-index: 200;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: var(--side-panel);
    }

    .study-group-title-container {
        display: flex;
        justify-content: center;
        height:100%;
    }

    div#add-user-to-group {
        padding-right: 20px;
    }

    .study-group-title {
        padding: 0 20px;
    }

    .study-group-title > h2 {
        font-size: 30px;
    }

    div.sg-main-container {
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
        grid-template-areas: 'info'
        'members';
    }

    .sg-info-container {
        grid-area: info;
        width: 100%;
        padding: 0;
    }

    .sg-img-container {
        height: 100%;
        width: auto;
    }

    .sg-members-container {
        grid-area: members;
        padding: 20px 10px;
        justify-content: center;

    }

}
