.splash-page-container-2 {
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.title-container-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

h1.title-text-2 {
    font-size: 10vw;
}

#logo {
    width: 10vw;
}

.sign-up-modal-head2,
.login-modal-head2 {
    font-size: 3vh;
}

.forms-container {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.current-form-container {
    width: 22vw;
    display: flex;
    overflow: hidden;
    position: relative;
    background-color: whitesmoke;

    border-radius: 10px;

}

.form-container1 {
    display: flex;
}

.form-container2 {
    min-width: 22vw;
    min-height: fit-content;
}


.signup-form2,
.login-form2 {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    height: 50vh;
    min-width: 22vw;
    min-height: fit-content;
}

.errors-container2 {
    z-index: 200;
    position: absolute;
    bottom: 0;
    right: 5px;
    color: red;
    font-size: 12px;
}

.form-content2 {
    width: 100%;
    padding: 40px;
    height: 100%;
}

.signup-form-elements-container2,
.login-form-elements-container2 {
    width: 100%;
}

.signup-element-container2,
.login-element-container2 {
    width: 100%;
    height: 5vh;

    margin: 1vh 0;
    position: relative;
}

.signup-element-container2 > input,
.login-element-container2 > input {
    padding: 5px 15px;
    margin: 5px 0;
    border-radius: 7px;
    outline: 0;
    border: 1px solid var(--side-panel-text);
    background-color: whitesmoke;
    width: 100%;
    height: 100%;

    font-size: larger;
}

.signup-element-container2 > input:focus,
.login-element-container2 > input:focus {
    outline: none;
}

.signup-element-container2 > input:focus::placeholder,
.login-element-container2 > input:focus::placeholder {
    color: var(--side-panel-text);
}



button#create-account2,
button#login-account2 {
    background-color: var(--side-panel-selected);
    color: white;
    width: 100%;
    font-size: 25px;
    border-radius: 7px;
}

button#create-account2:hover {
    transform: scale(1.05);
}

.sf-btn-container2 {
    padding: 20px 0;
}

.sf-btn-container2 p,
.sf-btn-container2 p > i {
    color: var(--main-container);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
}

.sf-btn-container2 p {
    margin-top: 5px;
}

.sf-btn-container2 p:hover {
    color: var(--side-panel-selected);
}

.sf-btn-container2 p:hover > i {
    color: var(--side-panel-selected);
}

.demo-button {
    color: var(--main-container);
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-top: 3px;
    font-weight: bold;
}

.demo-button:hover {
    color: var(--terra-cotta);
}



.show-signup {
	width: 22vw;
	margin: auto;
	animation: slide-in 0.3s linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.hide-signup {
	width: 22vw;
	margin: auto;
	animation: slide-out 0.3s linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes slide-out {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes slide-in {

	100% {
		transform: translateX(-100%);
	}
}
