.create-image-form-container {
    height: 600px;
    width: 900px;
    display: grid;
    grid-template-columns: 600px 300px;
}

.if-add-image-container > input[type="file"] {
    display: none;
}

.if-add-image-container > label {
    color: var(--main-container);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 7px 0 0 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.if-add-image-container > label:hover {
    background-color: rgba(0, 0, 0, 0.363);
}

.if-add-image-container > label:hover i {
    transform: scale(1.2);
    color: white;
}

.if-add-image-container > label > i {
    font-size: 50px;
    color: var(--side-panel-text);
    cursor: pointer;
}

.if-add-image-container {
    height: 100%;
    position: relative;
    border-radius: 7px 0 0 7px;
    display: flex;
    justify-content: center;
}

.preview-container.image,
.preview-image.image {
    border-radius: 7px 0 0 7px;
    width: 100%;
    height: 600px;
	object-fit: cover;
    background-color: rgba(128, 128, 128, 0.363);
}

.post-image-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#post-image,
#cancel-image-post {
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    width: 80%;
}

#cancel-image-post {
    background-color: var(--terra-cotta);
    margin-top: 30px;
}

#post-image {
    background-color: var(--side-panel-selected);
}

#post-image:hover,
#cancel-image-post:hover {
    transform: scale(1.05);
}

#post-image:disabled {
    opacity: 0.5;
}

#post-image:disabled:hover {
    transform: none;
    cursor: default;
}
