/* .image-and-btns-container {
    position: relative;
}

.image-container {
    width: 300px;
}

.image-container > img {
    width: 300px;
}

.image-container:hover {
    opacity: 0.7;
}

.delete-image-btn-container {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
}

.delete-image-btn-container:hover + .image-container {
    opacity: 0.7;
} */

#delete-image {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
}

#delete-image > i:hover {
    color: var(--terra-cotta);
    transform: scale(1.1);
}

/* ul.images-container {
    display: flex;
    flex-wrap: wrap;
}

li.image-li {
    height: 40vh;
    flex-grow: 1;
    margin: 15px;
    position: relative;
    width: 400px;
}

#delete-image:hover + img {
    opacity: 0.7;
}

li.image-li > img:hover {
    opacity: 0.7;
}



li.image-li > img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    cursor: pointer;
}

li.last-li {
    flex-grow: 10;
} */

/* .fa-search-plus {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
} */

.album-images-container {
    column-count: 4;
    column-gap: 10px;
    /* max-width: 75%; */
    /* min-width: 800px; */
    margin: auto;
    background-color: transparent;
    padding: 5px;
    border-radius: 7px;
}

.image-container {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;
}

.image-container > img {
    grid-row: 1 / -1;
    grid-column: 1;
}

.grid-image {
    max-width: 100%;
    display: block;
    border-radius: 7px;
    min-width: 180px;
    transition-duration: 0.2s;

    width: 400px;
}

.grid-image:hover {
    opacity: 70%;
    cursor: zoom-in;
    transform: scale(1.03);
}
