
.grid-image:hover + #delete-image {
    opacity: 1;
}


#delete-image {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
    opacity: 0;
}

#delete-image:hover {
    opacity: 1;
}

#delete-image:hover ~ .grid-image {
    opacity: 0.7;
    cursor: zoom-in;
    transform: scale(1.03);
}

#delete-image > i {
    color: var(--terra-cotta);
}

#delete-image > i:hover {
    transform: scale(1.1);
}


.album-images-container {
    column-count: 4;
    column-gap: 10px;
    margin: auto;
    background-color: transparent;
    padding: 5px;
    border-radius: 7px;
}

.image-container {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;
}

.image-container > img {
    grid-row: 1 / -1;
    grid-column: 1;
}

.grid-image {
    max-width: 100%;
    display: block;
    border-radius: 7px;
    min-width: 180px;
    transition-duration: 0.2s;

    width: 400px;
}

.grid-image:hover {
    opacity: 0.7;
    cursor: zoom-in;
    transform: scale(1.03);
}
