.all-groups-container {
    height: 100%;
    overflow-y: scroll;

    min-height: fit-content;
    background-color: var(--base-color);

    grid-area: content;

    position: absolute;
    top: 50px;
    right: 0;
    left: 300px;
}

.group-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.group-container img {
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 10px;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.group-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 5px;

    padding: 50px 150px;
    width: 100%;
    height: 200px;

}

.group-container:hover {
    background-color: var(--chat-box-hover);
}

.group-title {
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    min-width: 619px;
}

.group-title-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.group-title-container > h4 {
    font-size: 40px;
}

.group-title-container > p {
    font-size: 15px;
}

.group-btn-container {
    display: flex;
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.group-container:hover > .group-btn-container {
    opacity: 1;
}

#edit-group,
#delete-group {
    padding: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#edit-group:hover,
#delete-group:hover {
    transform: scale(1.2);
}
